// sidebar
$menuText:#272727;
$menuActiveText:#8aa0e4;
$subMenuActiveText:#272727; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#fff;
$menuHover:#f4f7f9;

$subMenuBg:#fff;
$subMenuHover:#f4f7f9;

$sideBarWidth: 210px;
$sideBarHeight: 64px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  sideBarHeight: $sideBarHeight;
}
